section(id="text-settings")
  h1  Настройки
  form(name="textSettings" method="post" enctype="multipart/form-data")
    br
    div
      | Заголовок:
      br
      select(id="headers")
        option(value="0")  Простой текст
        option(value="1")  Заголовок 1
        option(value="2") Заголовок 2
        option(value="3") Заголовок 3
        option(value="4")  Заголовок 4
        option(value="5")  Заголовок 5
        option(value="6")  Заголовок 6
    hr
    div
      | Выбор шрифта:
      br
      select(id="fontFamilySelect")
        option(value="Tahoma, Arial, Verdana, Georgia")  Tahoma
        option(value="Arial, Tahoma, Verdana, Georgia") Arial
        option(value="Verdana, Tahoma, Arial, Georgia") Verdana
        option(value="Georgia, Tahoma, Arial, Verdana")  Georgia
        option(value="Montserrat, Arial, Verdana, Georgia")  Montserrat Black
        option(value="Roboto, Arial, Tahoma")  Roboto Black
    hr
    div(id="text-font-size")
      | Размер шрифта:
      input(id="text-font-size-value" type="number")
      br
      input(id="text-font-size-value-range" type="range" min="1" max="100" step="1")      
    hr
    div(id="text-line-height")
      | Межстрочный интервал:
      input(id="text-line-height-value" type="number")
      br
      input(id="text-line-height-value-range" type="range" min="1" max="200" step="1")      
    hr
    div
      | Цвет текста:
      input(type="color" value="0" id="text-color-value")      
    hr
    div
      | Заливка текста:
      input(type="color" value="0" id="text-backcolor-value")
      br
      input(type="button" id="text-backcolor-value-reset" value="Сбросить")
    hr
    div
      | Внешний отступ:
      br
      br
      div(id="textMarginEvery")
        | Внешний отступ сверху:
        br
        input(id="text-margin-top-value" type="number")
        br
        input(id="text-margin-top-value-range" type="range" min="0" max="100" step="1")
        | Внешний отступ снизу:
        br
        input(id="text-margin-bottom-value" type="number")
        br
        input(id="text-margin-bottom-value-range" type="range" min="0" max="100" step="1")
        | Внешний отступ слева:
        br
        input(id="text-margin-left-value" type="number")
        br
        input(id="text-margin-left-value-range" type="range" min="0" max="100" step="1")
        | Внешний отступ справа:
        br
        input(id="text-margin-right-value" type="number")
        br
        input(id="text-margin-right-value-range" type="range" min="0" max="100" step="1")
    hr
    div 
      | Вертикальное выравнивание:
      br
      | Верх
      input(id="textMarginTop" name="vertical" type="radio" value="up")
      br
      | Центр
      input(id="textMarginCenter" name="vertical" type="radio" value="center")
      br
      | Низ
      input(id="textMarginBottom" name="vertical" type="radio" value="down")
      br
    hr
    div(id="text-shadow-settings")
      label(style="text-align:center")  Тени
      br
      | Вкл
      input(id="textShadowRadioOn" name="shadow" type="radio" value="1")
      | Выкл
      input(id="textShadowRadioOff" name="shadow" type="radio" value="0" checked)
      div(id="text-shadow")
        div(id="text-shadow-color" style="text-align: center")
          div
            | Цвет:
            br
            input(type="color" value="0" id="text-shadow-color-value")
        div(id="text-shadow-vertical-length" style="text-align: center")
          div
            | Вертикальное смещение:
            br
            input(type="number" value="0" id="text-shadow-vertical-value")
            input(type="range" id="text-shadow-vertical-value-range" step="1" min="-20" max="20")
        div(id="text-shadow-horizontal-length" style="text-align: center")
          div
            | Горизонтальное смещение:
            br
            input(type="number" value="0" id="text-shadow-horizontal-value")
            input(type="range" id="text-shadow-horizontal-value-range" step="1" min="-20" max="20")        
        div(id="text-shadow-blur" style="text-align: center")
          div
            | Размытие:
            br
            input(type="number" value="0" id="text-shadow-blur-value")
            input(type="range" id="text-shadow-blur-value-range" step="1" min="0" max="20")
        div(id="text-shadow-opacity" style="text-align: center")
          div
            | Непрозрачность:
            br
            input(type="number" value="100" id="text-shadow-opacity-value")
            input(type="range" id="text-shadow-opacity-value-range" step="1" min="0" max="100")
    hr
    div(id="text-animation" style="text-align:center")
      div(id="text-animation-type")
        div
          | Тип анимации:
          br
          select(id="text-animation-type-value")
            option(value="none")  NONE
            optgroup(label="Attention Seekers")
              option(value="bounce")  bounce
              option(value="flash") flash
              option(value="pulse") pulse
              option(value="rubberBand")  rubberBand
              option(value="shake") shake
              option(value="swing") swing
              option(value="tada")  tada
              option(value="wobble")  wobble
              option(value="jello") jello
              option(value="heartBeat") heartBeat
            optgroup(label="Bouncing Entrances")
              option(value="bounceIn")  bounceIn
              option(value="bounceInDown")  bounceInDown
              option(value="bounceInLeft")  bounceInLeft
              option(value="bounceInRight") bounceInRight
              option(value="bounceInUp")  bounceInUp
            optgroup(label="Bouncing Exits")
              option(value="bounceOut") bounceOut
              option(value="bounceOutDown") bounceOutDown
              option(value="bounceOutLeft") bounceOutLeft
              option(value="bounceOutRight")  bounceOutRight
              option(value="bounceOutUp") bounceOutUp
            optgroup(label="Fading Entrances")
              option(value="fadeIn")  fadeIn
              option(value="fadeInDown")  fadeInDown
              option(value="fadeInDownBig") fadeInDownBig
              option(value="fadeInLeft")  fadeInLeft
              option(value="fadeInLeftBig") fadeInLeftBig
              option(value="fadeInRight") fadeInRight
              option(value="fadeInRightBig")  fadeInRightBig
              option(value="fadeInUp")  fadeInUp
              option(value="fadeInUpBig") fadeInUpBig
            optgroup(label="Fading Exits")
              option(value="fadeOut") fadeOut
              option(value="fadeOutDown") fadeOutDown
              option(value="fadeOutDownBig")  fadeOutDownBig
              option(value="fadeOutLeft") fadeOutLeft
              option(value="fadeOutLeftBig")  fadeOutLeftBig
              option(value="fadeOutRight")  fadeOutRight
              option(value="fadeOutRightBig") fadeOutRightBig
              option(value="fadeOutUp") fadeOutUp
              option(value="fadeOutUpBig")  fadeOutUpBig
            optgroup(label="Flippers")
              option(value="flip")  flip
              option(value="flipInX") flipInX
              option(value="flipInY") flipInY
              option(value="flipOutX")  flipOutX
              option(value="flipOutY")  flipOutY
            optgroup(label="Lightspeed")
              option(value="lightSpeedIn")  lightSpeedIn
              option(value="lightSpeedOut") lightSpeedOut
            optgroup(label="Rotating Entrances")
              option(value="rotateIn")  rotateIn
              option(value="rotateInDownLeft")  rotateInDownLeft
              option(value="rotateInDownRight") rotateInDownRight
              option(value="rotateInUpLeft")  rotateInUpLeft
            optgroup(label="Rotating Exits")
              option(value="rotateOut") rotateOut
              option(value="rotateOutDownLeft") rotateOutDownLeft
              option(value="rotateOutDownRight")  rotateOutDownRight
              option(value="rotateOutUpLeft") rotateOutUpLeft
              option(value="rotateOutUpRight")  rotateOutUpRight
            optgroup(label="Sliding Entrances")
              option(value="slideInUp") slideInUp
              option(value="slideInDown") slideInDown
              option(value="slideInLeft") slideInLeft
              option(value="slideInRight")  slideInRight            
            optgroup(label="Sliding Exits")
              option(value="slideOutUp")  slideOutUp
              option(value="slideOutDown")  slideOutDown
              option(value="slideOutLeft")  slideOutLeft
              option(value="slideOutRight") slideOutRight          
            optgroup(label="Zoom Entrances")
              option(value="zoomIn")  zoomIn
              option(value="zoomInDown")  zoomInDown
              option(value="zoomInLeft")  zoomInLeft
              option(value="zoomInRight") zoomInRight
              option(value="zoomInUp")  zoomInUp
            optgroup(label="Zoom Exits")
              option(value="zoomOut") zoomOut
              option(value="zoomOutDown") zoomOutDown
              option(value="zoomOutLeft") zoomOutLeft
              option(value="zoomOutRight")  zoomOutRight
              option(value="zoomOutUp") zoomOutUp
            optgroup(label="Specials")
              option(value="hinge") hinge
              option(value="jackInTheBox")  jackInTheBox
              option(value="rollIn")  rollIn
              option(value="rollOut") rollOut
      div(id="text-animation-delay")
        div
          | Задержка анимации (сек):
          br
          input(type="number" min="0" max="20" value="0" id="text-animation-delay-value")
          br
          input(type="range" id="text-animation-delay-value-range" step="1" min="0" max="20")
        
      
      div(id="text-animation-duration")
        div
          | Длительность анимации (сек):
          br
          input(type="number" min="0" max="20" value="0" id="text-animation-duration-value")
          br
          input(type="range" id="text-animation-duration-value-range" step="1" min="0" max="20")    
    hr
    div(id="text-timeout" style="text-align: center")
      div(id="text-display-none")
        div
          | Скрытие блока:
          br
          input(type="checkbox" id="text-display-none-value")
      div(id="text-timeout")
        div
          | Часы:
          br
          input(type="number" min="0" max="24" id="text-timeout-hour-value")
          br
          input(type="range" id="text-timeout-hour-value-range" step="1" min="0" max="24")
        div
          | Минуты:
          br
          input(type="number" min="0" max="60" id="text-timeout-minute-value")
          br
          input(type="range" id="text-timeout-minute-value-range" step="1" min="0" max="60")
        div
          | Секунды:
          br
          input(type="number" min="0" max="60" id="text-timeout-second-value")
          br
          input(type="range" id="text-timeout-second-value-range" step="1" min="0" max="60")